* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

#bio {
    margin-top: 35vh;
    margin-bottom: 35vh;
}

#desktop-home {
    margin-top: -5em;
}

#profile-picture {
    margin-right: 3em;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

::-webkit-scrollbar {
    display: none;
}